<!DOCTYPE html>
<html>
<head>
    <title>GitHub 主页</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 /*
    <style>
        /* 添加自定义的 CSS 样式 */
        .weather-widget {
            position: fixed; /*如果想要随着网页滚动用fixed,锁定了要用sticky*/
            top: 20px;
            right: 20px;
             /*float: right;*/
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .weather-widget p {
            margin: 5px 0;
        }
    </style>
 */
</head>
<body>
    <div id="app">
        <header>
            <h1>Welcome to My GitHub Page</h1>
        </header>
        <div class="weather-container">
        <div class="weather-widget" v-if="!weatherLoading">
            <h2>Weather</h2>
            <p>{{ weather }}</p>
        </div>
    </div>
        <section>
            <h2>About Me</h2>
            <p>I am trying to become a frontier engineer in AI.  </p>
            <p>Having majored in industrial engineering at the undergraduate level, I was determined to join the computing field after being exposed to the AI field.</p>
            <p>So after graduating I applied to study computing at <strong>the University of Nottingham</strong> and successfully obtained a <u>Master's degree in Computing (AI)</u>, which is still on the way. </p>
            <p>An passionate AI developer with expertise in <u>NLP, and Deep Learning</u> .</p>
        </section>
        <style>
    strong {
        font-weight: bold; /* 设置加粗样式 */
    }
    </style>
        <section>
            <h2>Interests</h2>
            <ul>
                <li v-for="interest in interests">{{ interest }}</li>
            </ul>
        </section>
        <section>
            <h2>Education</h2>
            <ul>
                <li v-for="education in educations">
                    <h3>{{ education.degree }}</h3>
                    <p>{{ education.school }}</p>
                    <p>{{ education.major }}</p>
                    <p>{{ education.year }}</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Awards</h2>
            <ul>
                <li v-for="award in awards">
                    <h3>{{ award.title }}</h3>
                    <p>{{ award.description }}</p>
                    <p>{{ award.date }}</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Work Experience</h2>
            <ul>
                <li v-for="experience in workExperiences">
                    <h3>{{ experience.position }}</h3>
                    <p>{{ experience.company }}</p>
                    <p>{{ experience.duration }}</p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Today's Date and Time</h2>
            <p>{{ currentDate }}</p>
            <p>{{ currentTime }}</p>
        </section>
        <footer>
            <p>&copy; 2023 My GitHub Page. All rights reserved.</p>
        </footer>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                interests: ['NLP', 'Machine Learning', 'Artificial Intelligence','Cooking and Guitar :)'],
                educations: [
                    { degree: 'Master of Science', school: 'University of Nottingham(UK)',major:'Computer Science(Artificial Intelligence)', year: '2021 - 2022' },
                    { degree: 'Bachelor of Science', school: 'University of Ningbo(China)',major:'Industrial engineering', year: '2016 - 2020' },
                    { degree: 'High School Diploma', school: 'NanNing Secondary School(China)', major:'', year: '2013 - 2016' }
                ],
                awards: [
                    { title: 'Outstanding projects at Ningbo University', description: 'Research project in the social sciences category <The construction and use of fountains in residential communities and commercial centers> was awarded a key project (top 5%)',date:'2016.11' },
                    { title: 'Ningbo University Mathematical Modelling Competition', description: 'Writing "Campus Dining Problem and Optimization Based on Linear Programming Ideas" by analyzing the dining situation on campus and winning the second prize (top 20%)',date:'2018.5' },
                    { title: 'Ningbo University Third Class Scholarship',description: 'Available to students whose grades are in the top 20% of their major.',date:'2016,2018'}
                ],
                workExperiences: [
                    { position: 'Product Operations and Maintenance Engineer', company: 'Guangxi Public Information Industry Co.', duration: 'Spring 2021' },
                    { position: 'Office Assistant', company: 'Guangxi Guigang Zhongyi Hospital', duration: 'Summer 2017' }
                ],
                currentDate: '',
                currentTime: '',
                weather: '',
                weatherLoading: true,
                weatherApiKey: '5cf941264b624df4a2b151729232206'
            },
            mounted: function() {
                this.getCurrentDate();
                this.getCurrentTime();
                this.getLocationAndWeather();
            },
            methods: {
                getCurrentDate: function() {
                    var date = new Date();
                    this.currentDate = date.toDateString();
                },
                getCurrentTime: function() {
                    var self = this;
                    setInterval(function() {
                        var time = new Date();
                        self.currentTime = time.toLocaleTimeString();
                    }, 1000);
                },
                getLocationAndWeather: function() {
                    var self = this;
                    $.getJSON('https://ipapi.co/json/', function(data) {
                        var location = data.city;
                        self.getWeather(location);
                    });
                },
                getWeather: function(location) {
                    var self = this;
                    var apiUrl = 'https://api.weatherapi.com/v1/current.json?key=' + this.weatherApiKey + '&q=' + encodeURIComponent(location);
                    $.getJSON(apiUrl, function(data) {
                        self.weather = 'Weather in ' + data.location.name + ': ' + data.current.temp_c + '°C, ' + data.current.condition.text;
                        self.weatherLoading = false;
                    });
                }
            }
        });
    </script>
</body>
</html>
